th {
    padding: 5px 20px;
}
td {
    padding: 5px 20px;
}
form.form-text {
    margin: 5px 20px;
    width: 320px;
}
form.form-text label {
    display: block;
    padding: 2%;
}
form.form-text label div{
    width: 30%;
    display: inline-block;
}
form.form-text label input{
    width: 68%;
}
.parent{
    position: relative;
    width: 100%;
}
.right{
    position: absolute;
    top:0;
    right:0;
}
tr.article{
    display: block;
    padding: 10px;
    width: 60%;
}
.article .title{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}
.article .description{
    font-size: 1em;
    display: block;
}
/*a {
    padding: 20px;
    font-size: 1.5em;
    color: green;
    position: absolute;
    left: 20px;
}*/