body {
    border: none;
    background: #fff;
}
main {
    text-align: center;
    margin-top: 50px;
}
.my-button{
    display: inline-block;
}
th {
    padding: 5px 20px;
}
td {
    padding: 5px 20px;
}
.my-button {
    padding: 5px 10px;
    font-size: 18px;
    color: green;
    margin-top: 30px;
}

a {
    top: 30px;
    font-size: 1.5em;
    color: green;
    position: relative;
    left: 20px;
}
hr {
    font-size: 20px;
    margin: 20px;
    width: 200px;
    background-color: red;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid red;
    padding: 0;
}
form.form-text {
    width: 100%;
    text-align: left;
    margin-top: 40px;
}
form.form-text label {
    display: block;
    padding-bottom: 10px;
}
form.form-text label div{
    display: inline-block;
    padding-right: 10px;
}
form.form-text label input{
    padding-left: 10px;
}
.parent{
    position: relative;
    width: 100%;
}
.right{
    position: absolute;
    top:0;
    right:0;
}
tr.article{
    display: block;
    padding: 10px;
    width: 60%;
}
.article .title{
    font-size: 1.2em;
    font-weight: bold;
    display: block;
}
.article .description{
    font-size: 1em;
    display: block;
}
.text {
    font-size: 18px;
    text-align: left;
}
.form-checkbox{
    text-align: left;
}